/*EXTENDS*/
.mainIndex, .productosProductos, .mainMotoresElectricos, .mainElectro, .mainControl, .mainBalanceo, .mainManuales, .mainTienda {
  grid-area: main;
  display: grid; }

.servicios, .mantenimiento, .reparacion, .mainNosotros, .mainContacto {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr; }

/*INICIO GRIDS*/
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.8fr;
  grid-template-areas: "header header" "main main" "footer footer";
  height: 100vh;
  font-family: 'Manrope', sans-serif; }

.blackMode {
  background-color: black;
  color: white; }

header {
  grid-area: header;
  height: 8rem;
  transform: background-color 700ms ease; }

/**INDEX**/
.mainIndex {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "banner         banner " "productos      productos " "presentacion   presentacion "; }

.banner {
  grid-area: banner;
  width: 100%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .banner {
      width: 100%;
      margin-top: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .banner {
      width: 100%; } }

.productos {
  grid-area: productos;
  padding: 2rem; }

.presentacion {
  grid-area: presentacion; }

/**PRODUCTOS**/
.productosProductos {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "banner" "productos"; }

.mainProductos {
  grid-area: productos;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  justify-items: center; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mainProductos {
      width: 100%;
      display: flex;
      flex-direction: column; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mainProductos {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }

/**MOTORES ELECTRICOS**/
.mainMotoresElectricos {
  grid-template-columns: 50% 50%;
  grid-template-rows: 12.5rem,12.5rem;
  grid-template-areas: "banner        banner" "titulo        titulo" "producto      producto" "producto      producto"; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mainMotoresElectricos {
      display: flex;
      flex-direction: column;
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mainMotoresElectricos {
      display: flex;
      flex-direction: column;
      width: 100%; } }

/**ARRANQUES,VARIADORES**/
.mainDivProductos {
  grid-area: main; }

/**ELECTROBOMBAS**/
.mainElectro {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.2fr 1fr 1fr;
  grid-template-areas: "banner banner banner" "titulo titulo titulo" "producto producto producto" "producto producto producto" "producto producto producto";
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mainElectro {
      display: flex;
      flex-direction: column;
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mainElectro {
      width: 100%;
      display: flex;
      flex-direction: column; } }

/**CONTROL Y PROTECCION**/
.mainControl {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.2fr 1fr 1fr;
  grid-template-areas: "banner banner banner" "titulo titulo titulo" "producto producto producto" "producto producto producto" "producto producto producto";
  column-gap: 2rem;
  row-gap: 2rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mainControl {
      display: flex;
      flex-direction: column;
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mainControl {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 0.3fr 1fr;
      grid-template-areas: "banner banner" "titulo titulo" "producto producto" "producto producto" "producto producto" "producto producto"; } }

.mainInterruptores {
  grid-area: main; }

.mainContactoresPotencia {
  grid-area: main; }

.mainContactoresAux {
  grid-area: main; }

.mainReles {
  grid-area: main; }

.mainGuardamotores {
  grid-area: main; }

.mainArrancadores {
  grid-area: main; }

.mainCorreccion {
  grid-area: main; }

.mainMando {
  grid-area: main; }

/**SERVICIOS**/
.servicios {
  grid-template-areas: "banner         banner " "servicios      servicios"; }

/**BALANCEO DINAMICO**/
.mainBalanceo {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas: "banner banner" "body body"; }

.balanceoOrden {
  grid-area: body;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .balanceoOrden {
      flex-direction: column; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .balanceoOrden {
      flex-direction: column; } }

/**MANTENIMIENTO DE MOTORES **/
.mantenimiento {
  grid-template-areas: "banner banner" "body body"; }

/**INICIO REPARACION**/
.reparacion {
  grid-template-areas: "banner banner" "body body";
  margin-bottom: 8rem; }

/** MANUALES**/
.mainManuales {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "banner" "manuales";
  margin-bottom: 2rem; }

/**INICIO NOSOTROS**/
.mainNosotros {
  grid-template-areas: "banner         banner" "nosotros      nosotros"; }

/**INICIO CONTACTO**/
.mainContacto {
  grid-template-areas: "banner         banner" "contacto       contacto"; }

/**TIENDA**/
.mainTienda {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "banner" "productos";
  margin-bottom: 2rem; }

.navegacion {
  background-color: white !important;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 5.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .navegacion {
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .navegacion {
      width: 100%; } }

.navbar-brand {
  width: 100%; }

@media screen and (min-width: 320px) and (max-width: 425px) {
  .nav-item {
    padding: 0rem 0rem; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  .nav-item {
    padding: 0rem 0rem; } }

.tituloBarra {
  font-size: 1.2rem;
  color: #005fa4 !important;
  font-weight: bold;
  margin-top: 1rem; }

.tituloDarkMode {
  color: white !important; }

.tituloBarra:hover {
  color: black; }

.subMenu {
  font-size: 1rem;
  color: #005fa4;
  font-weight: bold; }

.botonesTema {
  margin-left: 4rem;
  margin-top: 1rem; }

.btn.btn-link {
  margin-top: 1.1rem;
  margin-left: 4rem; }

.botonTemaFondo {
  border-radius: 150px;
  background-color: white;
  margin-top: 0.4rem; }

.logoCarritoBarra {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 2px; }

.logoCarritoBarraDark {
  background-color: black; }

.botonCarritoEstilo {
  background-color: white;
  height: 1rem; }

.botonCarritoEstiloBlack {
  background-color: black; }

footer {
  grid-area: footer; }

.piePagina {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right bottom, #4d4d4d, #3c3c3c, black);
  padding: 1.5rem 0rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .piePagina {
      flex-direction: column;
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .piePagina {
      flex-direction: column;
      width: 100%; } }

.footerProductos {
  width: 22%;
  color: white; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .footerProductos {
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .footerProductos {
      width: 100%; } }

.tituloFooter {
  text-decoration: none;
  color: white;
  margin-left: 3rem;
  font-size: 1.2rem; }

.tituloFooter:hover {
  color: black; }

.tituloFooterS {
  text-decoration: none;
  color: white;
  margin-left: 3rem;
  font-size: 1.2rem; }

.listaSinDetalle {
  list-style: none;
  color: white;
  line-height: 1.4rem;
  margin-left: 1rem;
  font-size: 1rem; }

.footerServicios {
  width: 28%;
  color: white; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .footerServicios {
      width: 90%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .footerServicios {
      width: 90%; } }

.footerHorarios {
  width: 15%;
  color: white; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .footerHorarios {
      width: 90%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .footerHorarios {
      width: 90%; } }

.footerPresentacion {
  width: 28%;
  text-align: justify;
  margin-left: 4rem;
  color: white; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .footerPresentacion {
      width: 90%;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .footerPresentacion {
      width: 90%;
      margin-left: 1rem; } }

.parrafoFooter {
  font-size: 0.9rem; }

.finalFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #4d4d4d;
  height: 2.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .finalFooter {
      flex-direction: column;
      width: 100%;
      height: 4rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .finalFooter {
      flex-direction: column;
      width: 100%;
      height: 4rem; } }

.copyright {
  color: white;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-top: 0.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .copyright {
      text-align: center; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .copyright {
      text-align: center; } }

.madeBy {
  font-family: 'Saira Stencil One', cursive;
  color: white;
  font-size: 1.2rem;
  margin-top: 0.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .madeBy {
      text-align: center; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .madeBy {
      text-align: center; } }

.blancoFooter {
  color: white; }

.blancoFooter:hover {
  color: black; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: black; }

/*EXTENDS*/
.flexProductos, .presentacionFlex, .productosDiv, .controles, .paginaServicios, .organizacionServicios, .contenidoNosotros, .contacto {
  display: flex;
  flex-direction: row; }

.flexProductosPrincipal, .cuadrosManuales {
  display: flex;
  flex-direction: column; }

/***************************BOTONES DE COMPRA********************************/
.botonCompraProductos {
  width: 11rem !important;
  height: 3rem !important;
  font-size: 1.4rem;
  margin-left: 45%;
  margin-top: 4rem;
  color: white;
  font-weight: bold;
  background-color: #005fa4;
  border-radius: 4.38rem;
  border: 0px; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .botonCompraProductos {
      margin-left: 5rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .botonCompraProductos {
      margin-left: 18rem; } }

.botonCompraProductos:hover {
  background-color: #0078be; }

.botonCompra {
  width: 11rem !important;
  height: 3rem !important;
  font-size: 1.4rem;
  margin-left: 50%;
  color: white;
  font-weight: bold;
  background-color: #005fa4;
  border-radius: 4.38rem;
  border: 0px; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .botonCompra {
      margin-left: 4rem; } }

.botonCompra:hover {
  background-color: #0078be;
  cursor: pointer; }

.botonCompraElectro {
  width: 11rem !important;
  height: 3rem !important;
  font-size: 1.4rem;
  margin-left: 50%;
  margin-top: 3rem;
  color: white;
  font-weight: bold;
  background-color: #005fa4;
  border-radius: 4.38rem;
  border: 0px; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .botonCompraElectro {
      margin-left: 4rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .botonCompraElectro {
      margin-left: 10rem; } }

.botonCompraElectro:hover {
  background-color: #0078be;
  cursor: pointer; }

/***************************ACA COMIENZA EL INDEX********************************/
.flexProductos {
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 0.5rem 0.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .flexProductos {
      flex-direction: column;
      margin-left: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .flexProductos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 2rem;
      row-gap: 1rem;
      margin-left: 2rem; } }

.contenedorFlex {
  width: 18rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .contenedorFlex {
      width: 90%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .contenedorFlex {
      width: 90%; } }

.parrafoProductoIndex {
  text-align: center;
  font-size: 1rem;
  width: 80%;
  margin-left: 0.5rem;
  margin-top: 1.4rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoProductoIndex {
      font-size: 1.2rem;
      text-align: center;
      margin-left: 0rem;
      width: 90%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .parrafoProductoIndex {
      font-size: 1rem; } }

@media screen and (min-width: 320px) and (max-width: 425px) {
  .presentacionFlex {
    flex-direction: column; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  .presentacionFlex {
    flex-direction: column; } }

.presentacion {
  background-image: linear-gradient(to bottom, gainsboro, #c8c8c8);
  padding: 2rem 0rem; }

.itemUno {
  width: 50%;
  margin-left: 4.38rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .itemUno {
      width: 100%;
      margin-left: 0rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .itemUno {
      width: 100%;
      margin-left: 0rem; } }

.parrafoPresentacion {
  font-size: 1.5rem;
  margin-left: 0.31rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoPresentacion {
      width: 90%;
      margin-left: 1rem;
      font-size: 1.4rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .parrafoPresentacion {
      width: 90%;
      margin-left: 1rem;
      font-size: 1.4rem; } }

.subParrafoPresentacion {
  margin-top: 1.88rem;
  font-size: 1.5rem;
  margin-left: 0.31rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .subParrafoPresentacion {
      width: 90%;
      margin-left: 1rem;
      font-size: 1.4rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .subParrafoPresentacion {
      width: 90%;
      margin-left: 1rem;
      font-size: 1.4rem; } }

.itemDos {
  width: 100%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .itemDos {
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .itemDos {
      width: 100%; } }

.dondeEstamos {
  margin-left: 4rem;
  width: 70%;
  padding: 1rem 0rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .dondeEstamos {
      width: 70%;
      margin-left: 0rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .dondeEstamos {
      width: 100%;
      margin-left: 0rem; } }

.parrafoUbicacion {
  font-size: 1.4rem;
  padding: 0.5rem 0rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoUbicacion {
      font-size: 1.2rem;
      width: 15rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .parrafoUbicacion {
      font-size: 1.2rem;
      margin-left: 1rem; } }

.negrita {
  font-weight: bold;
  color: black; }

.telefonoIndex {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.5rem 0rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .telefonoIndex {
      font-size: 1.1rem;
      margin-left: 1rem; } }

/****************************FIN DEL INDEX******************************/
/****************************INICIO PRODUCTOS******************************/
.flexProductosPrincipal {
  margin-bottom: 3rem; }

.parrafoDescriptivo {
  text-align: justify;
  width: 18.75rem;
  margin-left: 2.63rem;
  margin-top: 1.4rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoDescriptivo {
      margin-left: 2.5rem;
      width: 15rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .parrafoDescriptivo {
      width: 15rem;
      margin-left: 0rem; } }

.productosUbicacion {
  align-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.catalogosManuales {
  color: black;
  font-size: 1.8rem;
  text-decoration: underline;
  margin-left: 2.5rem;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem; }

.linkManuales {
  margin-left: 2.5rem;
  margin-bottom: 2.5rem; }

.linkNegro {
  color: black;
  font-size: 1.2rem; }

.linkNegro:hover {
  font-weight: bold; }

/*********************INICIO MOTORES ELECTRICOS**********************/
.motorElectrico {
  padding: 2rem; }

.bordeMotor {
  width: 30.5rem;
  margin-left: 2.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .bordeMotor {
      width: 90%;
      margin-left: 3.8rem; } }

.textoMotores {
  width: 80%;
  text-align: justify;
  margin-left: 2.5rem;
  line-height: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .textoMotores {
      width: 90%;
      margin-left: 0rem; } }

.listaW22 {
  font-size: 1rem;
  margin-left: 4.38rem;
  list-style: none;
  line-height: 2rem; }

/*********************INICIO ARRANQUES/VARIADORES**********************/
.productosDiv {
  margin-bottom: 3rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .productosDiv {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-bottom: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .productosDiv {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-bottom: 2rem; } }

.bloqueDivProductos {
  width: 50%;
  margin: 2rem 0rem 0rem 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .bloqueDivProductos {
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .bloqueDivProductos {
      width: 90%; } }

.parrafoDivProductos {
  font-size: 1.1rem;
  text-align: justify; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoDivProductos {
      width: 90%; } }

.subParrafoProductos {
  font-size: 1.1rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .subParrafoProductos {
      width: 90%; } }

.derechaDivProductos {
  width: 40%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .derechaDivProductos {
      width: 0%; } }

/*********************INICIO CONTROL Y PROTECCION**********************/
.control {
  margin-left: 1rem;
  margin-bottom: 3rem; }

.botonVolver {
  width: 5rem;
  height: 5rem;
  margin-left: 92%;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .botonVolver {
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .botonVolver {
      margin-left: 88%; } }

.botonVolver:hover {
  transform: scale(1.1); }

.catalogo {
  color: black;
  font-size: 1.4rem;
  margin-bottom: 2rem; }

.catalogo:hover {
  font-weight: bold; }

/*********************CONTROLES PAGINAS**********************/
.controles {
  margin-left: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .controles {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-bottom: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .controles {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-bottom: 2rem; } }

.interruptoresTexto {
  width: 60%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .interruptoresTexto {
      width: 80%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .interruptoresTexto {
      width: 80%; } }

.controlesTexto {
  width: 55%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .controlesTexto {
      width: 80%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .controlesTexto {
      width: 80%; } }

.parrafoControles {
  font-size: 1rem;
  line-height: 1.6rem; }

.subParrafoControles {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 1rem; }

/****************************FIN PRODUCTOS******************************/
/****************************INICIO SERVICIOS******************************/
.paginaServicios {
  grid-area: servicios; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .paginaServicios {
      display: flex;
      flex-direction: column;
      width: 100%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .paginaServicios {
      display: flex;
      flex-direction: column;
      width: 90%; } }

.textoServicios {
  width: 60%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .textoServicios {
      width: 90%;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .textoServicios {
      width: 100%; } }

.parrafoDescriptivoServicios {
  text-align: justify;
  width: 70%;
  margin-left: 5rem;
  margin-top: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoDescriptivoServicios {
      width: 90%;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .parrafoDescriptivoServicios {
      width: 80%;
      margin-left: 5rem;
      margin-right: 5rem; } }

.botonVerMas {
  font-weight: bold;
  margin-left: 20rem;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .botonVerMas {
      margin-left: 40%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .botonVerMas {
      margin-left: 40%; } }

.botonVerMas:hover {
  color: black; }

.serviciosEnMain {
  margin-top: 3rem;
  margin-bottom: 4rem; }

.organizacionServicios {
  grid-area: body; }

.textoDescriptivoServicios {
  text-align: justify;
  font-size: 1.1rem;
  width: 90%;
  margin-left: 2rem;
  padding: 1rem; }

/*********************INICIO BALANCEO**********************/
.cuerpoBalanceo {
  width: 55%;
  margin-bottom: 10rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .cuerpoBalanceo {
      width: 90%;
      margin-bottom: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .cuerpoBalanceo {
      width: 90%;
      margin-bottom: 1rem; } }

/*********************INICIO MANTENIMIENTO**********************/
@media screen and (min-width: 320px) and (max-width: 425px) {
  .organizacionServicios {
    flex-direction: column; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  .organizacionServicios {
    flex-direction: column;
    margin-bottom: 4rem; } }

.infoMantenimiento {
  width: 55%;
  margin-bottom: 3rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .infoMantenimiento {
      width: 90%;
      font-size: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .infoMantenimiento {
      width: 90%; } }

.listaMantenimiento {
  list-style-position: inside;
  font-size: 1.1rem;
  width: 80%;
  margin-left: 3rem;
  line-height: 2.1rem; }

/*********************INICIO REPARACION**********************/
.infoReparacion {
  width: 55%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .infoReparacion {
      width: 90%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .infoReparacion {
      width: 90%; } }

/****************************FIN SERVICIOS******************************/
/****************************INICIO MANUALES******************************/
.cuadrosManuales {
  grid-area: manuales;
  width: 100%;
  margin-bottom: 3rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .cuadrosManuales {
      width: 90%;
      margin-left: -2rem;
      margin-bottom: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .cuadrosManuales {
      width: 100%;
      margin-bottom: 1rem; } }

.buscadorManuales {
  background-color: #2d7086;
  padding: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .buscadorManuales {
      width: 120%;
      padding: 0.5rem; } }

.itemsBuscadorManuales {
  margin-left: 4rem;
  font-weight: bold; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .itemsBuscadorManuales {
      margin-top: 1rem; } }

.claseManuales {
  margin-top: 2.5rem;
  margin-left: 3.13rem; }

.textoManual {
  color: black;
  font-size: 1.4rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .textoManual {
      font-size: 1.2rem; } }

.textoManual:hover {
  font-weight: bold; }

.tablaManuales {
  font-size: 1.6rem;
  border: 0.13rem solid black; }

.thManual {
  width: 17rem;
  font-size: 1.5rem;
  border: 0.13rem solid black;
  padding: 1rem; }

.tdManual {
  width: 22rem;
  text-align: center; }

td a {
  font-style: italic; }

.divBotonManual {
  position: fixed;
  z-index: 2;
  margin-left: 85%;
  border: solid 5px #2d7086;
  border-radius: 50px;
  padding: 0.2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .divBotonManual {
      margin-left: 92%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .divBotonManual {
      margin-left: 90%; } }

.botonArribaManuales {
  width: 2.5rem;
  height: 2.5rem; }

/****************************FIN MANUALES******************************/
/****************************INICIO NOSOTROS******************************/
.contenidoNosotros {
  grid-area: nosotros;
  margin-top: 3rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .contenidoNosotros {
      flex-direction: column;
      margin-bottom: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .contenidoNosotros {
      flex-direction: column;
      margin-bottom: 1rem; } }

.cuerpoNosotros {
  width: 60%;
  margin-bottom: 4rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .cuerpoNosotros {
      width: 95%;
      margin-left: -2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .cuerpoNosotros {
      width: 95%;
      margin-left: -2rem; } }

.parrafoNosotros {
  line-height: 1.8rem;
  margin-left: 3.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoNosotros {
      width: 90%; } }

p b {
  display: block; }

.listaNosotros {
  line-height: 2rem;
  font-size: 1.2rem;
  list-style: none;
  margin-left: 3rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  font-weight: 600; }

/****************************FIN NOSOTROS******************************/
/****************************INICIO CONTACTO******************************/
.banner {
  grid-area: banner; }

.contacto {
  grid-area: contacto;
  margin-bottom: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .contacto {
      flex-direction: column;
      margin-bottom: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .contacto {
      flex-direction: column; } }

.cuerpoContacto {
  margin-left: 2rem;
  width: 55%; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .cuerpoContacto {
      width: 90%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .cuerpoContacto {
      width: 90%; } }

.contactoContacto {
  margin-left: 1rem; }

.parrafoContacto {
  width: 90%;
  margin-top: 2.5rem;
  margin-left: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .parrafoContacto {
      font-size: 1.1rem; } }

.subParrafoContacto {
  margin-left: 1rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .subParrafoContacto {
      font-size: 1.1rem; } }

.direccionContacto {
  margin-top: 1rem; }

.telefonoContacto {
  margin-top: 1rem; }

.telefonoContactoDos {
  font-size: 1.1rem;
  font-weight: bold; }

.mailContacto {
  margin-top: 1rem; }

.horariosContacto {
  margin-top: 1rem; }

/****************************TIENDA******************************/
.flexTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .flexTienda {
      flex-direction: column;
      margin-left: 2.5rem; } }

#divProductos {
  width: 100%; }

.busquedaProducto {
  width: 35%;
  height: 3rem;
  border: solid 2px #005fa4;
  border-radius: 10px;
  text-align: center;
  margin-left: 60%; }

.card {
  width: 15rem;
  height: 23rem;
  margin: 1rem 0.8rem;
  border: solid gray 1px;
  border-radius: 10px; }

.cardOscura {
  background-color: black; }

.boxTitulo {
  width: 100%;
  height: 5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.alert {
  width: 45% !important;
  height: 3rem;
  margin-left: 27%;
  margin-top: -0.5rem;
  background-color: #0078be;
  border-radius: 150px; }

.parrafoEncontrar {
  color: white;
  font-weight: bold; }

/****************************CARRITO******************************/
.modal-content-oscuro {
  background-color: black; }

.card.mb-3 {
  width: 30rem;
  height: 23rem;
  margin-left: -0.5rem; }

.img-fluid.rounded-start {
  margin-top: 3.5rem; }

.botonTacho {
  margin-left: 10rem;
  border: none;
  background-color: transparent; }

.sumar {
  background-color: #005fa4;
  height: 2.5rem;
  width: 4rem;
  margin-left: 0.5rem; }

.restar {
  background-color: red;
  height: 2.5rem;
  width: 4rem;
  margin-left: 0.5rem; }

.precioTotalCarrito {
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

.tituloProductosIndex {
  color: #005fa4;
  font-size: 1.2rem;
  text-decoration: none !important;
  font-weight: bold; }

/**TITULOS INDEX**/
.titulo {
  font-size: 2.8rem;
  color: #005fa4;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .titulo {
      width: 100%;
      font-size: 2rem;
      margin-left: 0rem;
      margin-top: 0rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .titulo {
      margin: 0rem; } }

.tituloProductosIndex {
  text-align: center;
  margin-left: -1.5rem;
  margin-bottom: 1.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloProductosIndex {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      text-align: center;
      margin-left: -5%; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloProductosIndex {
      font-size: 1.7rem; } }

.tituloProductosIndex:hover {
  color: black; }

.tituloInfo {
  font-size: 2.6rem;
  font-weight: bold;
  color: black;
  margin-left: 13rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloInfo {
      font-size: 2rem;
      margin-left: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloInfo {
      font-size: 2rem;
      margin-left: 10rem; } }

.tituloDondeEstamos {
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloDondeEstamos {
      font-size: 1.8rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloDondeEstamos {
      font-size: 2rem;
      margin: 1rem 0rem 1.5rem 2rem; } }

/**TITULOS PRODUCTOS**/
.tituloPrincipalProductos {
  text-align: center;
  color: #005fa4;
  margin-top: 1rem;
  text-decoration: underline;
  font-weight: bold; }

.tituloProductos {
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  color: #005fa4;
  margin-left: 2.5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloProductos {
      margin-left: 0rem;
      font-size: 1.6rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloProductos {
      margin-left: -1rem;
      font-size: 1.8rem; } }

.tituloProductos:hover {
  color: black; }

/**TITULOS MOTORES ELECTRICOS**/
.tituloPrincipalMotores {
  grid-area: titulo;
  text-align: center;
  color: #005fa4;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloPrincipalMotores {
      margin-left: 1rem;
      font-size: 2.1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloPrincipalMotores {
      font-size: 2.2rem;
      font-weight: bold; } }

.tipoMotor {
  margin-top: 0.63;
  font-size: 2.5rem;
  margin-left: 5.5rem;
  color: #005fa4;
  font-weight: bold; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tipoMotor {
      margin-left: 1rem;
      font-size: 1.9rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tipoMotor {
      font-size: 2rem; } }

/**TITULOS ARRANQUES,VARIADORES, MOTORES ELECTRICOS,**/
.tituloArranques {
  text-align: center;
  margin-top: 2rem;
  color: #005fa4;
  font-size: 3rem;
  font-weight: bold; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloArranques {
      font-size: 2.5rem;
      text-decoration: none; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloArranques {
      font-weight: bold; } }

.tituloProductosDiv {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloProductosDiv {
      font-size: 1.8rem; } }

.subtitutloDivProductos {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: #005fa4; }

/**CONTROl Y PROTECCION**/
.tituloPrincipalControl {
  grid-area: titulo;
  font-size: 3rem;
  color: #005fa4;
  font-weight: bold;
  text-align: center; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloPrincipalControl {
      font-size: 1.8rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloPrincipalControl {
      font-size: 2rem; } }

.tituloControles {
  font-size: 1.6rem;
  color: #005fa4;
  font-weight: 600;
  text-align: center; }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloControles {
      font-size: 1.6rem; } }

.tituloControles:hover {
  color: black; }

.tituloControlesFactor {
  font-size: 1.5rem;
  color: #005fa4;
  font-weight: 600;
  margin-left: 2rem; }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloControlesFactor {
      margin-left: 3rem; } }

.tituloControlesFactor:hover {
  color: black; }

/**CONTROLES PAGINAS**/
.tituloProductosControl {
  text-align: center;
  color: #005fa4;
  margin-top: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloProductosControl {
      font-size: 2.4rem;
      font-weight: bold; } }

.modeloControles {
  font-size: 2rem;
  text-align: center;
  color: #005fa4;
  margin: 2rem 0rem 2rem 0rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .modeloControles {
      font-size: 1.8rem; } }

.itemControles {
  font-weight: bold;
  color: #005fa4;
  font-size: 1.2rem; }

.curvaInterruptor {
  color: black;
  font-weight: bold;
  font-size: 1.1rem; }

/**TITULOS ELECTROBOMBAS**/
.tituloElectrobombas {
  grid-area: titulo;
  font-size: 3rem;
  color: #005fa4;
  font-weight: bold;
  text-align: center; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloElectrobombas {
      font-size: 2.5rem; } }

.tipoElectrobomba {
  font-size: 1.6rem;
  text-align: center;
  color: #005fa4;
  font-weight: bold; }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tipoElectrobomba {
      font-size: 1.8rem; } }

/**TITULOS SERVICIOS**/
.tituloServicios {
  color: #005fa4;
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
  text-decoration: underline; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloServicios {
      font-size: 2.2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .tituloServicios {
      font-size: 2.2rem;
      font-weight: bold;
      margin-left: 1rem; } }

.tituloServiciosEnMain {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloServiciosEnMain {
      font-size: 1.8rem; } }

.tituloServiciosEnMain:hover {
  color: black; }

/**TITULOS BALANCEO**/
.tituloServicioBalanceo {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloServicioBalanceo {
      font-size: 2rem;
      margin-left: 2rem; } }

/**TITULOS MANTENIMIENTO**/
.tituloServicioMantenimiento {
  font-size: 2.2rem;
  margin-top: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloServicioMantenimiento {
      margin-top: -2rem; } }

/**TITULOS REPARACION**/
.tituloServicioReparacion {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: #005fa4;
  margin-top: 2rem;
  margin-bottom: 2rem; }

/**TITULOS MANUALES**/
.manuales {
  font-size: 2.3rem;
  text-align: center;
  color: black;
  margin-top: 1.2rem;
  font-weight: bold;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .manuales {
      font-size: 2rem; } }

.tituloManuales {
  margin-top: 3rem;
  margin-left: 4rem;
  font-size: 2.1rem;
  color: black;
  text-decoration: underline;
  font-weight: 600; }

.nombreProductoManual {
  font-size: 1.8rem;
  color: #005fa4;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  font-weight: bolder; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .nombreProductoManual {
      margin-left: 1rem;
      font-size: 1.6rem; } }

/**TITULOS NOSOTROS**/
.tituloNosotros {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  margin: 3rem;
  font-weight: 600;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloNosotros {
      margin-top: -2.2rem; } }

.subtituloNosotros {
  font-size: 1.7rem;
  margin: 3rem;
  font-weight: 600; }

.tituloApueste {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 3rem;
  line-height: 2rem;
  font-weight: 600; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloApueste {
      margin-left: 3rem;
      font-size: 1.4rem;
      width: 100%; } }

.gonnetNosotros {
  margin-left: 18rem;
  color: #005fa4;
  font-weight: bold; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .gonnetNosotros {
      margin-left: 10rem;
      font-size: 2rem; } }

/**TITULOS CONTACTO**/
.tituloContacto {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #005fa4; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloContacto {
      margin-top: -0.5rem; } }

/**TITULOS TIENDA**/
.card-title {
  height: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold; }

.card-text {
  font-size: 1rem;
  font-weight: 500; }

.tituloTienda {
  font-size: 2.5rem;
  color: #005fa4;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem; }

.tituloModoOscuro {
  color: white; }

@media screen and (min-width: 320px) and (max-width: 425px) {
  .formServicios {
    width: 80%;
    margin-left: 1rem; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  .formServicios {
    width: 80%;
    margin-bottom: 2rem;
    margin-left: 2rem; } }

.tituloFormulario {
  text-align: center;
  color: #005fa4;
  text-decoration: underline;
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: bold; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .tituloFormulario {
      margin-top: 3rem; } }

.formularioContacto {
  background-color: white;
  width: 30rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .formularioContacto {
      width: 80%;
      margin-top: 2rem;
      margin-left: 2px; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .formularioContacto {
      width: 80%;
      margin-top: 2rem;
      margin-left: 5px; } }

.labelTitulo {
  font-weight: bold;
  margin-top: 1rem; }

input, textarea {
  width: 22rem;
  margin-top: 1rem;
  padding: 0.31rem; }

textarea {
  width: 22.1rem;
  height: 9.38rem; }

.botonFormulario {
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .botonFormulario {
      margin-bottom: 1rem; } }

.formControl {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .formControl {
      width: 18rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .formControl {
      width: 34rem; } }

/**IMAGENES INDEX**/
.imagenes {
  width: 14.38rem;
  height: 12.50rem;
  border: solid 2px #005fa4;
  border-radius: 50px;
  margin-right: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenes {
      align-items: center;
      margin-left: 0rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenes {
      margin-left: 1rem;
      margin-top: 0.5rem; } }

.imagenes:hover {
  transform: scale(1.1); }

.mapaIndex {
  margin-left: 0.4rem;
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  width: 37.5rem;
  height: 23.75rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mapaIndex {
      width: 90%;
      height: 30rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mapaIndex {
      width: 90%;
      height: 30rem;
      margin-left: 1rem; } }

.mapaIndexFrente {
  margin-left: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mapaIndexFrente {
      display: none; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mapaIndexFrente {
      width: 90%;
      height: 30rem;
      margin-left: 1rem; } }

/**IMAGENES PRODUCTOS**/
.imagenesPaginaProducto {
  border: solid #005fa4 2px;
  width: 15.63rem;
  height: 15.63rem;
  border-radius: 4.38rem;
  margin-left: 4rem;
  margin-top: 1.25rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenesPaginaProducto {
      margin-left: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenesPaginaProducto {
      margin-left: 0rem; } }

.imagenesPaginaProducto:hover {
  transform: scale(1.07); }

/**IMAGENES MOTORES ELECTRICOS**/
.imagenMotores {
  width: 21.88rem;
  height: 17.5rem;
  margin-left: 5rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenMotores {
      margin-left: -1rem;
      width: 18rem; } }

.imagenMotoresW12 {
  width: 21.88rem;
  height: 17.5rem;
  margin-left: 5rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenMotoresW12 {
      margin-left: -5rem;
      width: 18rem; } }

/**IMAGENES ARRANQUES**/
.imagenArranques {
  width: 30rem;
  height: 25rem;
  margin: 8rem 0rem 0rem 5rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenArranques {
      margin-left: -1rem;
      width: 20rem;
      height: 17rem; } }

.imagenArranquesTres {
  width: 40rem;
  height: 35rem;
  margin: 8rem 0rem 0rem 0rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenArranquesTres {
      margin-left: -5rem;
      width: 26rem;
      height: 22rem;
      margin-top: 2rem; } }

/**IMAGENES VARIADORES**/
.imagenVariadores {
  width: 28rem;
  height: 25rem;
  margin: 10rem 0rem 0rem 8rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenVariadores {
      width: 20rem;
      height: 15rem;
      margin: 2rem 0rem 0rem 0rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenVariadores {
      width: 25rem;
      height: 20rem; } }

/**IMAGENES ELECTROBOMBAS**/
.imagenElectrobombas {
  width: 20rem;
  height: 17.5rem;
  margin-left: 3rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenElectrobombas {
      margin-left: 1rem;
      width: 18rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenElectrobombas {
      margin-left: 15rem;
      width: 18rem; } }

/**IMAGENES CONTROL Y PROTECCION**/
.imagenControl {
  width: 18rem;
  height: 15rem;
  border: solid 2px #005fa4;
  border-radius: 70px;
  margin-left: 4rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenControl {
      width: 80%;
      height: 15rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenControl {
      width: 15rem;
      height: 12rem;
      margin-left: 2.5rem; } }

.imagenControl:hover {
  transform: scale(1.1); }

.imagenControlMando {
  width: 18rem;
  height: 15rem;
  border: solid 2px #005fa4;
  border-radius: 70px;
  margin-left: 4rem;
  margin-top: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenControlMando {
      width: 80%;
      height: 15rem;
      margin-left: 1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenControlMando {
      width: 15rem;
      height: 12rem;
      margin-left: 2.5rem;
      margin-top: 2rem; } }

.imagenControlMando:hover {
  transform: scale(1.1); }

.imagenInterruptor {
  width: 34rem;
  height: 30rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenInterruptor {
      width: 80%;
      height: 15rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenInterruptor {
      width: 70%;
      height: 25rem;
      margin-left: 4rem; } }

.imagenInterruptorDos {
  width: 28rem;
  height: 25rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenInterruptorDos {
      width: 80%;
      height: 15rem; } }

.imagenAccesorio {
  width: 30rem;
  height: 30rem;
  margin-left: 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenAccesorio {
      width: 90%;
      height: 15rem;
      margin-left: -1rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenAccesorio {
      width: 70%;
      height: 25rem;
      margin-left: 4rem; } }

.imagenCorreccion {
  width: 30rem;
  height: 20rem;
  margin: 5rem 0rem 0rem 2rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenCorreccion {
      width: 20rem;
      height: 18rem;
      margin-left: -2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenCorreccion {
      width: 30rem;
      height: 20rem;
      margin: 5rem 0rem 0rem 2rem; } }

/**IMAGENES NOSOTROS**/
.imagenesNosotros {
  width: 40%;
  margin-left: 14rem;
  align-self: flex-start; }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenesNosotros {
      position: relative;
      display: flex;
      flex-direction: row; } }

.imagenNosotros {
  margin-top: 5rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenNosotros {
      margin-left: -11rem;
      width: 18rem;
      margin-top: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenNosotros {
      width: 20rem;
      height: 15rem;
      margin-left: -11rem;
      margin-top: -3rem; } }

.imagenNosotrosDos {
  margin-top: 5rem;
  margin-bottom: 1rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .imagenNosotrosDos {
      margin-left: -11rem;
      width: 18rem;
      margin-top: 2rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .imagenNosotrosDos {
      width: 20rem;
      height: 15rem;
      margin-top: -3rem;
      margin-left: 0rem; } }

.iconoNosotros {
  margin-left: 19rem;
  margin-top: 3rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .iconoNosotros {
      margin-left: 10rem; } }

.mapaContacto {
  margin-top: 1rem;
  width: 500px;
  height: 400px;
  margin-bottom: 3rem; }
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .mapaContacto {
      width: 90%;
      height: 20rem; } }
  @media screen and (min-width: 426px) and (max-width: 768px) {
    .mapaContacto {
      width: 100%;
      height: 20rem; } }

/*IMAGEN ERROR 404*/
.errorImagen {
  height: 22rem;
  width: 50rem; }

.card-img-top {
  margin-top: 0.5rem;
  margin-left: 1.7rem;
  width: 10rem;
  height: 10rem; }

.carrito {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 3rem;
  height: 3rem; }

.boton {
  background-color: transparent;
  border: none; }

* {
  margin: 0;
  padding: 0; }
