@import "../utilities/variables";
 
 /**IMAGENES INDEX**/

.imagenes{
    width: 14.38rem;
    height: 12.50rem;
    border:solid 2px $colorAzul;
    border-radius: 50px;

    @include telefono{
        margin-left: -1.4rem;
       }
}

.imagenes:hover{
    width: 15rem;
    height: 13.5rem;
}

.mapaIndex{
    margin-left: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    width: 37.5rem;
    height: 23.75rem;

    @include telefono{
        width: 90%;
        height: 30rem;
        margin-left: -3rem;   
       }

    @include tablet{
        width: 90%;
        height: 30rem;
        margin-left: -3rem;
    } 
}

.mapaIndexFrente{
    margin-left: 4rem;

    @include telefono{
        display: none;
       }

    @include tablet{
        width: 90%;
        height: 30rem;
        margin-left: -1.7rem;
    } 
    
}

                                                        /**IMAGENES PRODUCTOS**/

.imagenesPaginaProducto{
    border: solid $colorAzul 2px;
    width: 15.63rem;
    height: 15.63rem;
    border-radius: 4.38rem;
    margin-left: 4rem;
    margin-top: 1.25rem;   
    
    @include telefono{
        margin-left: 3rem;
       }

}

.imagenesPaginaProducto:hover{
    width: 18rem;
    height: 18rem;
}

                                                    /**IMAGENES MOTORES ELECTRICOS**/

.imagenMotores{
    width: 21.88rem;
    height: 17.5rem;
    margin-left: 5rem;
    margin-top: 1rem;

    
    @include telefono{
        margin-left: 1rem;
        width: 18rem;
    }

    @include tablet{
        
    }
}

                                                        /**IMAGENES ARRANQUES**/

.imagenArranques{
    width: 30rem;
    height: 25rem;
    margin: 8rem 0rem 0rem 5rem;

    @include telefono{
        margin-left: -2rem;
        width: 30rem;
        height: 22rem;
    }
}

.imagenArranquesTres{
    width: 40rem;
    height: 35rem;
    margin: 8rem 0rem 0rem 0rem;

    @include telefono{
        margin-left: -2rem;
        margin-top: -1rem;
        width: 30rem;
        height: 22rem;
    }
}

                                                    /**IMAGENES VARIADORES**/

.imagenVariadores{
    width: 28rem;
    height: 25rem;
    margin: 10rem 0rem 0rem 8rem;

    @include telefono{
        width: 20rem;
        height: 15rem;
        margin: 2rem 0rem 0rem 2rem;
    }

    @include tablet{
        width: 25rem;
        height: 20rem;
    }
} 

                                                    /**IMAGENES CONTROL Y PROTECCION**/

.imagenControl{
    width: 22rem;
    height: 17rem;
    border: solid 2px $colorAzul;
    border-radius: 70px;
    margin-left: 1.8rem;

    @include telefono{
        width: 80%;
        height: 15rem;
        margin-left: 1rem;
    }

    @include tablet{
        width: 40%;
        height: 15rem;
        margin-left: 14rem;
    }
}

.imagenControl:hover{
    width: 24rem;
    height: 19rem;
}

.imagenInterruptor{
    width: 34rem;
    height: 30rem;
    
    @include telefono{
        width: 80%;
        height: 15rem;
    }

    @include tablet{
        width: 70%;
        height: 25rem;
        margin-left: 4rem;
    }
}

.imagenInterruptorDos{
    width: 28rem;
    height: 25rem;

    @include telefono{
        width: 80%;
        height: 15rem;
    }

}

.imagenAccesorio{
    width: 30rem;
    height:30rem;
    margin-left: 2rem;

    @include telefono{
        width: 90%;
        height: 15rem;
        margin-left: -1rem;
    }

    @include tablet{
        width: 70%;
        height: 25rem;
        margin-left: 4rem;
    }
}

.imagenCorreccion{
    width: 30rem;
    height: 20rem;
    margin:5rem 0rem 0rem 2rem;

    @include telefono{
        width: 60%rem;
        height: 20rem;
        margin-left: -5rem;
    }

    @include tablet{
        width: 30rem;
        height: 20rem;
        margin:5rem 0rem 0rem 2rem;
    }
}


                                                        /**IMAGENES NOSOTROS**/

.imagenesNosotros{
    width: 40%;        
    margin-left: 14rem;
    align-self: flex-start;

    @include tablet{
        position: relative;
        display: flex;
        flex-direction: row;
    }
}

.imagenNosotros{
    margin-top: 5rem;
    margin-bottom: 1rem;

    @include telefono{
        margin-left: -12.5rem;
        width: 18rem;
        margin-top: 2rem;
       }

    @include tablet{
        width: 20rem;
        height: 15rem;
        margin-left: -9rem;
        margin-top: -3rem;
    }
}

.iconoNosotros{
    margin-left: 19rem;
    margin-top: 3rem;

    @include telefono{
        margin-left: 10rem;
    }
}

.imagenNosotrosDos{
    margin-top: 5rem;
    margin-bottom: 1rem;

    @include telefono{
        margin-left: -12.5rem;
        width: 18rem;
        margin-top: 2rem;
       }

    @include tablet{
        width: 20rem;
        height: 15rem;
        margin-top: -3rem;
        margin-left: 5rem;
    }
}

.mapaContacto{
    margin-top: 1rem; 
    width: 500px;
    height: 400px;

    @include telefono{
        width: 90%;
        height: 20rem;
    }

    @include tablet{
        width: 100%;
        height: 20rem;
    }
}

                                                  /*IMAGEN ERROR 404*/

.errorImagen{
    height:22rem;
    width: 50rem;
}



