@import "../utilities/variables";
@import "../utilities/mediaquerys";

.navegacion{
    background-color: rgba(251, 251, 251, 0.993) !important;
    z-index: 1000;
    position: fixed;
    width: 100%;

    @include telefono{
        width: 100%;   
       }
       @include tablet{
        width: 100%;   
    }
}

.tituloBarra{
    font-size: 1.3rem;
    color: $colorAzul !important;
    font-weight: bold;
    margin-top: 1rem;
    
}

.tituloBarra:hover{
    color: $colorNegro;
}

.subMenu{
    font-size: 1rem;
    color: $colorAzul;
    font-weight: bold;
}