@import "../utilities/variables";
@import "../utilities/mediaquerys";

.navegacion{
    background-color: $colorBlanco !important;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 5.5rem;

    @include telefono{
        width: 100%;   
       }
       @include tablet{
        width: 100%;   
    }
}

.navbar-brand{
    width: 100%;
}

.nav-item{
    @include telefono{
        padding: 0rem 0rem;  
       }
       @include tablet{
        padding: 0rem 0rem;}
    
}

.tituloBarra{
    font-size: 1.2rem;
    color: $colorAzul !important;
    font-weight: bold;
    margin-top: 1rem;
}

.tituloDarkMode{
    color: white !important;
}

.tituloBarra:hover{
    color: $colorNegro;
}

.subMenu{
    font-size: 1rem;
    color: $colorAzul;
    font-weight: bold;
}

.botonesTema{
    margin-left: 4rem;
    margin-top: 1rem;
}

.btn.btn-link{
    margin-top: 1.1rem;
    margin-left: 4rem;
}

.botonTemaFondo{
    border-radius: 150px;
    background-color: white;
    margin-top: 0.4rem;
}

.logoCarritoBarra{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 2px;
}

.logoCarritoBarraDark{
    background-color: black;
}

.botonCarritoEstilo{
    background-color: white;
    height: 1rem;
}

.botonCarritoEstiloBlack{
    background-color: black;
}
